@tailwind base;
@tailwind components;
@tailwind utilities;


.Bg{
   background-image: url("./assets/frontend_assets/header_img.png");
}
.X{
   background-image: url("./assets//frontend_assets/food_12.png");
}
input::placeholder {
   color: black;
   font-size: large;
 }

 

 /* Track */

 ::-webkit-scrollbar {
   width: 11px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #fff; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #5852D8;
   border-radius: 15px; 
 }
 

 progress::-webkit-progress-bar {background-color: black; width: 100%;}
 progress {background-color: black;}
 
 /* value: */
 progress::-webkit-progress-value {background-color: #5852D8 !important;}
 progress::-moz-progress-bar {background-color: #5852D8 !important;}
 progress {color: #5852D8;}

