@tailwind base;
@tailwind components;
@tailwind utilities;


.Bg{
   background-image: url("./assets/hero.png");
}
.X{
   background-image: url("./assets/conffff.jpg");
}
.BgC{
  background-image: url("./assets/food.jpg");
}


input::placeholder{
  color: gray ;
  font-size: 20px;
  
 /* font-weight: bold;*/
} 

 

 /* Track */

 ::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #fff; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #5852D8;
   border-radius: 15px; 
 }
 

 html {
  scroll-behavior: smooth;
}


